.gallery {
  width: 90%;
  margin: 40px auto;
  max-width: 1200px;
}

.carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.carousel-slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  z-index: 10;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}

.carousel-arrow:hover {
  background: rgba(32, 32, 32, 0.8);
}

.carousel-arrow svg {
  font-size: 10px;
}
